    <% if obj.errors.any? %>
    
      <div class="alert alert-danger" role="alert">
        
      <strong>You have errors</strong>
        <ul>
        <% obj.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
        
    </div>
    
    

    <% end %>