<div class="content right">
  <h2>About Us</h2>
  <p>
  I was thinking about sending some money to Nigeria via Western Union. If I do, I will be the recipient of US$47,000,000. How about that?!
  </p>
</div>

<div class="content left">
<p>
  <%= link_to 'Home Page', root_path %>
</p>
</div>
