<div class="content right">
  <h2>Welcome</h2>
  <p>
  It's the home page!!
  </p>
</div>

<div class="content left">
<p>
  <%= link_to 'Blog Articles', articles_path %>
</p>
<p>
  <%= link_to 'About Page', about_path %>
</p>
</div>